/*=== Main ===*/
body {background: url(../images/bg-noise.png) repeat center center #686868; color:#464646; width:100%;}
a { color:#058ecb; text-decoration: none; }
a:hover { color:#058ecb; text-decoration: underline}
a.block {color:#464646; display: block;}
a.block:hover {color:#464646; text-decoration: none;}
	a.block .more { color:#058ecb; text-decoration: none; }
	a.block:hover .more { color:#058ecb; text-decoration: underline}
	a.block:hover h2 {text-decoration: underline;}
	

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

p {margin-bottom:12px; line-height:20px;}

p img { padding: 0; }

img { border: 0; max-width: 100%; }

table { width:auto; border-collapse: collapse;border-spacing: 0; }

a { color:#058ecb; text-decoration: none; cursor:pointer; }
	a:hover { color:#058ecb; text-decoration: underline; cursor:pointer;}
	a:active {	color:#058ecb; }

ul li {list-style:none;}

textarea {resize:none; line-height:20px;}

.left {float:left;}
.center {margin-left:auto; margin-right:auto; float:none;}
.right {float:right;}

.hidden {display:none;}

/* Clearfix: */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* End Clearfix */

blockquote {font-family: 'MuseoSlab-700Italic'; font-size:15px; line-height:24px; margin-bottom:15px; }

/* Headers */
h2, h5, h6 { color:#4d4d4f;}
	h1 { font-size:20px; line-height: 1.2em; font-family:'OpenSansExtrabold', 'arial black', sans-serif; color:#464646; margin-bottom:10px;}
	h2 { font-size:16px; line-height: 1.8em; font-family:'OpenSansBold', 'arial black', sans-serif; margin:0 0 5px;}
h3 { font-family: 'MuseoSlab-900Italic', serif; font-weight:normal; font-size:15px; line-height: 1.2em; color:#464646; margin-bottom:3px;}
h4 { font-family: 'OpenSansBold', sans-serif; font-size:12px; line-height: 1.3em; color:#464646; margin-bottom:5px;}
h5 { font-family: 'MuseoSlab-900Italic', serif; font-size:12px; line-height: 2.4em;}
h6 { font-size:12px; line-height: 1.5em; font-weight:bold;}


/* Tophat */
#tophat {margin-bottom:5px;background:none;}
	#tophat #logo {margin-top:15px; background-size:100%; float:right; }
	#tophat #callNumber {font-family: 'MuseoSlab-700Italic'; color:#fff; font-size:1.3em; text-shadow: 0 0 3px #333; float:left; }
		#tophat #callNumber #phoneNumber {font-size:1.2em; font-family: 'MuseoSlab-700Italic'; margin:0 0 0 5px; }
		#tophat #siteTitle {text-decoration:none; float:left; font-size:24px; line-height: 1.3em; font-family:'OpenSansExtrabold', 'arial black', sans-serif; color:#fff; margin-top:12px;}

/* Global Navigation */
nav#global {background: url("../images/nav-bg.png") repeat-x scroll 0 0 #006596; border-radius: 3px; box-shadow:0 0 1px #444; margin-bottom:25px; overflow:hidden;}
	nav#global li {float:left; border-right:1px solid #0fa8f3; border-right:1px solid rgba(16, 171, 248, .5);}
		nav#global li a {color:#fff; padding:9px 23px; display:block; border-right:1px solid #0b7fbc; border-right:1px solid rgba(2, 114, 222, .5); font-family:'OpenSansBold', 'arial black'; font-size: 14px; text-shadow: 0 0 3px #444;}
		nav#global li a.c-icon.home {font-family:'Icon';}
		nav#global li:hover a {text-decoration:none; background-color:#0170a7;}
		nav#global li a:active {text-decoration:none; background:url('../images/nav-bg.png') repeat-x 0 -105px #006596;}
		nav#global li.here a, nav#global li.parent-here a {text-decoration: none; background:url('../images/nav-bg.png') repeat-x 0 -70px #006596;}

/* Mobile Global Navigation */
#mGlobalNav {margin-bottom:20px; overflow: hidden; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; height:34px; background:url('../images/nav-bg.png') repeat-x 0 0 #006596;}
		#mGlobalNav label {color:#fff; font-family: 'OpenSansBold'; text-shadow: 0 0 3px #444444; padding: 9px 12px 7px 12px; -webkit-appearance: none; font-size: 14px; line-height:18px; left:0; display:block; position: absolute; top:0; border-right:1px solid rgba(6,89,156,.35); outline:1px solid rgba(55,174,228,.7)}
		#mGlobalNav:after {position: absolute; display: block; right:0; top:0; width:34px; height:38px; content:""; background: url('../images/navDropdown.png') center center no-repeat rgba(255,255,255,.14); z-index: 1; }
			#mGlobalNav select { -webkit-appearance: none; box-shadow: 0 0 1px #444444; -moz-box-shadow: 0 0 1px #444444; -webkit-box-shadow: 0 0 1px #444444; font-size: 14px; height: 34px; position: relative; z-index: 2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }
				#mGlobalNav select option {color:#555; padding:1px 5px;}
			#mGlobalNav select:active, #mGlobalNav select:focus {outline: 0; -moz-outline:0; border:0;}

/* Header */
header.main {background:#f0f0f0; padding:20px 0 25px; margin-bottom:20px; border:1px solid #c9c9c9; position: relative; min-height:300px;}
	header.main h1 {font-size:28px; color:#464646; margin-bottom:12px;}
	
	/* Form */
	.landingPageFormWrap {background: #464646; border-radius:3px; padding:18px; margin-top:6px; -webkit-box-shadow:0 0 4px rgba(0,0,0,.4); -moz-box-shadow:0 0 4px rgba(0,0,0,.4); box-shadow:0 0 4px rgba(0,0,0,.4);}
		.landingPageFormWrap h2 {color:#fff; font-size:16px; text-align: center; text-shadow:0 0 4px rgba(0,0,0,.4); line-height:24px; margin-bottom:15px;}
		.landingPageFormWrap #top5 {padding:12px 0 12px 70px;}
		.landingPageFormWrap #top5 h3 {color:#fff; text-shadow:0 0 4px rgba(0,0,0,.4); line-height:1.4em;}
	
	#landingPageFormSuccess {display:none; color:#fff; font-size:12px; font-weight:bold;}
		#landingPageFormSuccess p {line-height:1.5em;}
		#landingPageFormSuccess a {color:#fff; text-decoration: underline;}
		#landingPageFormSuccess a:hover {color:#f0f0f0;}
	
	input[type="text"], input[type="tel"], input[type="email"], input[type="url"] {width:240px; height:23px}
	input[type="submit"] {width:256px; padding-left:0; padding-right:0; text-align: center; margin-bottom:0;}

/* Container */
#container {background:#fff; -webkit-box-shadow:0 0 4px rgba(0,0,0,.15); -moz-box-shadow:0 0 4px rgba(0,0,0,.15); box-shadow:0 0 4px rgba(0,0,0,.15); padding:20px 0 25px; font-size:12px; position: relative; overflow: hidden; border:1px solid #c9c9c9; border-bottom:0;}
	#container section {margin-bottom:20px;}

#content {z-index: 1; position: relative; overflow: hidden;}
	#content #contentBG {position: absolute; top:38px; left:0; background:#F1F1F1; height:100%; width:100%; display: block;}
	
	/*== Modules ==*/
	
	/* Mediablock */
	#content .module.mediablock ul {padding-left:30px; line-height:1.8em; margin-bottom:12px;}
		#content .module.mediablock ul li {list-style:disc;}

	/* listing */
	#content .listing {}
		#content .listing img {margin-top:6px;}
		#content .listing li {margin-bottom:8px; line-height:1.4em;}
			#content .listing li p:last-child {margin-bottom:5px;}
		#content .listing .date, .listing .subheader {margin-bottom:0; font-size:12px;}

.c-icon {font-family:'Icon';}
	.c-icon.ex-link {font-size:.8em;}
	.c-icon.ex-link:hover {text-decoration: none;}

/*=== C4 Board ===*/
#c4-board {background: url('../images/c4-board/empty.png'); position: relative; z-index: 10; display: block; height:384px;}
	#c4-board .p1, #c4-board .p2 {height:64px; width:64px; position: absolute;}
	#c4-board .p1 {background: url('../images/c4-board/player1.png');}
	#c4-board .p2 {background: url('../images/c4-board/player2.png');}


/*=== Status Messages ===*/
.statusMessage {border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:10px 10px 10px 50px; line-height:1; background: #ececec; border:1px solid #b9b9b9; color:#888;}
	.statusMessage strong {font-family: 'OpenSansBold', arial black; font-size:16px; color:#464646; font-weight:normal; margin-bottom:4px; display:block;}
	.statusMessage p {margin:0; padding:0; color:#464646; line-height:1.3; font-size:12px; margin-bottom:6px;}
	.statusMessage p strong {font-family:arial; font-size:inherit; font-weight:bold; margin:0; display:inline;}

	.statusMessage.success {background: url('../images/icon-success.png') no-repeat 12px 10px #f0f4e6; border:1px solid #7bb111; -moz-box-shadow:0 0 2px #b0d861 inset; -webkit-box-shadow:0 0 2px #b0d861 inset; box-shadow:0 0 2px #b0d861 inset; }
	.statusMessage.alert {background: url('../images/icon-alert.png') no-repeat 12px 10px #fff8be; border:1px solid #d2c23a; }
	.statusMessage.error {background: url('../images/icon-error.png') no-repeat 12px 10px #fde7e4; border:1px solid #b9301d; }

/*=== Buttons ===*/
	.button {background: url('../images/btn-bg.png') repeat-x; padding:10px 20px; font-size:18px; line-height:18px; color:#fff; font-family: 'OpenSansBold'; text-align: center; display:inline; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; cursor: pointer; position: relative; box-shadow: 0 0 5px #999; box-shadow: 0 0 4px rgba(40, 40, 40, .4); -webkit-box-shadow: 0 0 4px rgba(40, 40, 40, .4); -moz-box-shadow: 0 0 4px rgba(40, 40, 40, .4); float:left; margin-bottom:15px; }
	.button.medium {padding:6px 15px 7px; font-size: 16px;}
	.button.small {padding:3px 10px 3px; font-size:12px; line-height:12px;}
		.button:hover {text-decoration:none; color:#fff;}
		
	/* Button Fix */
	button.button, input.button {height:40px; line-height:38px; padding:0 20px;}
	button.button.medium, input.button.medium {height:33px; line-height:31px; padding:0 15px;}
	button.button.small, input.button.small {height:25px; line-height:23px; padding:0 10px; }
		
	/* Primary Buttons */
	.buttonPrimary {text-shadow: 0 0 3px #3f2507;  border:1px solid #843232;  background-position: 0 -1px; }
		.buttonPrimary:hover {background-position:0 -40px; }
		.buttonPrimary:active {background-position:0 -80px;}
		
		/* Small */
		.buttonPrimary.small {background-position: 0 -120px;}
			.buttonPrimary.small:hover {background-position: 0 -145px;}
			.buttonPrimary.small:active {background-position: 0 -169px;}
	
	/* Secondary Buttons */
	.buttonSecondary {text-shadow: 0 0 3px #444; border:1px solid #843232; background-position:0 -201px;}
		.buttonSecondary:hover {background-position:0 -240px;}
		.buttonSecondary:active {background-position:0 -281px;}
		
		/* Small */
		.buttonSecondary.small {background-position:0 -320px;}
		.buttonSecondary.small:hover {background-position: 0 -345px;}
		.buttonSecondary.small:active {background-position: 0 -371px;}


/*=== Footer ===*/
.footer-sprite {background: url('http://www.yodle.com/assets/images/sprites/footer.png') no-repeat;}

/*=== Footer ===*/
footer#mainFooter {position: relative;}
	footer#mainFooter .full-width {z-index: 2; position: relative;}
#footer {background:#f0f0f0; padding:10px 0 15px; border-top:1px solid #c9c9c9; display:block; overflow:hidden;}
	#footer section {min-height:135px;}
	#footer .links {font-size:12px; line-height: 20px;}
	#footer h4 {font-family: 'OpenSansBold', sans-serif; font-size:13px; line-height: 2.2em;}
	#copyright {font-size:10px; color:#fff; line-height:13px; margin:0 auto; float:none; padding:10px 0 14px;}
		#copyright p {line-height:16px;}
		#copyright a, #copyright a:hover {color:#fff; text-decoration: underline;}
		#copyright .terms {padding:6px 0; display: block;}
		#copyright #tempTerms {clear:both; display: block; padding:5px 0;}
		#copyright .bbb-icon {background: url('http://www.yodle.com/assets/images/sprites/footer.png') no-repeat 0 -60px; width:116px; height:30px;}
			#copyright .bbb-icon:hover {opacity: .9;}

	/* Social Media */
	#footer #social-media li {float:left; margin:0 10px 10px 0;}
		#social-media li a {display:block; height:27px; width:27px;}
		#social-media li a:hover {opacity: .8;}
		#sm-facebook {background-position: 0 -30px;}
		#sm-twitter {background-position: -30px -30px;}
		#sm-gplus {background-position: -180px -30px;}
		#sm-linkedin {background-position: -60px -30px;}
		#sm-youtube {background-position: -90px -30px;}
		#sm-wiki {background-position: -120px -30px;}
		#sm-rss {background-position: -150px -30px;}
	
	/* Partners */
	#footer #partners li {float:left; margin:0 25px 10px 0;}
		footer #footer #partners li.last {margin:0;}
		#partners li div {display:block; height:22px; }
		#p-google {background-position: 0 0; width:62px;}
		#p-yahoo {background-position: -70px 0; width:70px;}
		#p-bing {background-position: -150px 0; width:55px;}
		#p-ask {background-position: -210px 0; width:30px;}

/*=== Forms ===*/
form section {float:left; width:100%;}

button.button, input.button {float:right;}

.inField {position: absolute; font-family: "OpenSans", sans-serif; cursor: text; color:#8e8e8e; padding:12px 9px 2px; z-index: 5}
.textarea .inField { padding:10px 8px}
input, textarea, select {border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border:1px solid #c8c8c8; box-shadow: 0 0 5px #dcdcdc inset; -moz-box-shadow: 0 0 5px #dcdcdc inset; -webkit-box-shadow: 0 0 5px #dcdcdc inset; padding:9px 7px 3px; outline:none; font-family: "OpenSansSemiBold", sans-serif; color:#636363;}
	input[type="checkbox"], input[type="radio"] {box-shadow: none; border:none; padding:0; }
	
	/* Contact Form */
		select, input, textarea, .inField {font-size: 13px;}
		#contact-form select {width:212px;}
		input[type="text"], input[type="tel"], input[type="email"], input[type="url"] {height:20px;}
		input[type="zip"] {height:20px;}
		textarea {height:200px;}
		
		.formfield, fieldset {display:block; position: relative; margin-bottom: 15px}

/*=== Yodle Validator Essentials ===*/
	fieldset{border:none; display:block;}
	
	fieldset label {display:block; font-weight:normal; padding:6px 5px 4px; color:#464646; line-height:1em;}
	fieldset input {margin-right:5px;}
	
	/* Form Field Style */
	.yv-formField {position: relative; background-color: #efeff0; border-radius: 3px; display:block; border:1px solid #c8c8c8; }
	.yv-formField input, .yv-formField textarea, .yv-formField select {z-index: 3; position: relative; border-color: #c8c8c8!important;}
	
	/* Feature Styles */
	.yv-formField .fieldCaption {position: absolute; bottom:2px; left:5px; z-index: 1; font-size: 11px; font-weight:normal;}
	.yv-formField .helpTip {background-image:url(helpTip.png); position: absolute; top:4px; right:4px; width:12px; height:12px;  z-index: 4;}
	.yv-formField .helpTip .helpTipContent {z-index:20; color:#4D4D4F; position:absolute; top:0; left:0; font-size:11px; padding:10px 12px; width:110px; border-radius:3px; border:1px solid #8F8F8F; line-height:15px; box-shadow:0 0 6px #b8b8b8; -moz-box-shadow:0 0 6px #b8b8b8; -webkit-box-shadow:0 0 6px #b8b8b8; display:none; 
		background: -moz-linear-gradient(#F8F8F8,#EFEFF0), #EFEFF0; 
		background: -webkit-linear-gradient(#F8F8F8,#EFEFF0), #EFEFF0;
		background: -ms-linear-gradient(#F8F8F8,#EFEFF0), #EFEFF0;
		background: -o-linear-gradient(#F8F8F8,#EFEFF0), #EFEFF0;
		background: linear-gradient(#F8F8F8,#EFEFF0), #EFEFF0;
		background-color: #EFEFF0;
	}
	/*.yv-formField .helpTip:hover .helpTipContent {display:block;}*/
	.yv-formField .helpTip-pointer {background-image:url(helpTip-pointer.png); display:block; width:14px; height:14px; position:absolute; right:14px; bottom:-12px;}
	
	.yv-formField.yv-focus, .yv-formField.yv-focus, .yv-formField.yv-focus input, .yv-formField.yv-focus textarea {border-color:#8f8f8f!important}
	
	.yv-formField .helperText {color:#4d4d4f;}
	
	.yv-required-field {margin-left:3px;}
	
	/* Validation */
	.yv-formField.invalid {border-color:#C63232!important; color:#C63232; background-color:#FDE7E4!important;}
	.yv-formField.invalid input, .yv-formField.invalid textarea, .yv-formField.invalid select {border-color:#C63232!important}
	.yv-formField.valid {border-color:#7bb111!important; box-shadow-color:#7bb111!important;}
	.yv-formField.valid input, .yv-formField.valid textarea, .yv-formField.valid select {border-color:#7bb111!important}
/*=== END Yodle VALIDATOR ESSENTIALS ===*/



/* Desktop + */
@media only screen and (min-width: 971px) {

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 970px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 970px) {
	/* Navigation */
	nav#global li a {font-size:13px; padding-left:16px; padding-right:16px;}

	/* Footer */
	footer#mainFooter .wrapper {height:259px; margin-bottom:70px;}
	#footer section {min-height:230px;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	/* Landing Page */
	header.main {border-left:none; border-right:none; min-height:0; background-image:none!important;}
	header.main #hero {display:none;}
		header.main {margin-bottom:0; padding-bottom:30px;}
		
		input[type="submit"] {width:100%; padding-left:0; padding-right:0;}

	/* Main Content */
	#container {border:none;}

	/*=== Content ===*/
	#background, #imgSliderBorder {display:none;}
	.buttonPrimary, .buttonSecondary {padding-left:0!important; padding-right:0!important}

	/*=== Footer ===*/
	footer#mainFooter .wrapper {border:none;}
	footer {padding-left:0; padding-right:0;}
	footer #footer {border-bottom:1px solid #c9c9c9;}
	footer .container_12 section {display:none; overflow: hidden;}
	footer .container_12 section:first-child {display:block;}
		footer .container_12 section li {width:214px;}
		footer .container_12 section a {display: block; width: 100%; padding:3px 0; }
			footer .container_12 section .no-gutter.odd {margin-right:20px;}
		footer .container_12 section a span {float:right;}
	#copyright {line-height:1.4em; padding:20px 0 12px; font-size:10px; margin:0 auto;}
		#copyright .text {float:left;}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* Navigation */
	#mGlobalNav select {width:448px;}
	#mGlobalNav label {width:389px;}

	/* Landing Page */
	header.main .landingPageFormWrap h2 {font-size:16px;}

	input[type="text"], input[type="tel"], input[type="email"], input[type="url"] {width:395px;}

	.buttonPrimary, .buttonSecondary {width:446px;}
	
	/* Footer */
	#copyright .text {width:320px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#rsvpModal {width:320px;}

	/* Navigation */
	#mGlobalNav select {width:292px;}
	#mGlobalNav label {width:233px;}

	.buttonPrimary, .buttonSecondary {width:290px;}

	#preNav #siteTitle h1 {font-size:21px;}
	
	/* Footer */
	footer #footer .container_12 section li {width:100%;}
	#copyright .text {width:170px;}

}